/* move the card as if it were bouncing slightly to the sides when the mouse is over it*/
.card:hover {
    transform: translateX(5px);
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
