/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: color-mix(in srgb, Canvas, CanvasText 2.5%);
  color: color-mix(in srgb, CanvasText, Canvas 15%);
}
